* {
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    background: rgb(248, 247, 247);
    height: 100vh;
}

body {
    background: rgb(248, 247, 247);
    padding-left: 5%;
    height: 100vh;
}


#High-header {
    margin: 0;
    line-height: none;
}

.classContainer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto;
    height: 40px;
    width: none;
    border: none;


}

.classContainer ul li {
    margin-left: 10px;
}

.classContainer i {
    margin: 10px;
    color: rgba(66, 56, 48, 0.589);
    font-size: 120%;
}

span {
    color: brown;
}

.classContainer ul li {
    border: none;
    cursor: pointer;
    margin-top: -3rem;
}

#h1-set {
    color: rgba(73, 23, 3, 0.705);
    letter-spacing: 3px;
    font-weight: bolder 900;
    cursor: pointer;
    border: none;
    height: -200px;
    width: none;
    padding-left: 5%;
}

#nav-icon {
    align-items: center;
    justify-content: center;
}

nav ul {
    color: brown;
    justify-content: center;
    align-items: center;
    margin-left: 80rem;
    cursor: pointer;
    display: flex;
    margin-top: -4rem;
}

nav i {
    font-size: 20px;
    margin: 12px;

}

/* here I'm coding image and I'll use this about the responsive*/
#sectionOne img {
    margin: 100px 100px;
    height: 100%;
    width: 30%;
    margin-left: 65%;
    transition: all 0.5s ease;
    cursor: pointer;

}


#sectionOne img:hover {
    transform: scale(1.1);

}

.myTexture h3 {
    margin-top: -10px;
}

.myTexture h1 {
    padding-left: 5%;
    height: none;
    width: none;
    margin-top: -30rem;
    padding: none;
    font-size: 2.8rem;
}

#h1-set {
    background: linear-gradient(90deg, #291818, #ff5d5d67, #ff00f3, #858ce6, #ff00c4, #94531511);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.hThree {
    padding-left: 5.5%;
    height: 27%;
    width: 50%;
    margin-top: -4.8rem;
}

.hThreeOne {
    padding-left: 5%;
    height: 27%;
    width: 50%;
    margin-top: 3rem
}

#h1OneAnimating #autoTyped {
    content: "";
    position: absolute;
    margin-left: 9px;
    background-color: transparent;
    animation: animate 4s steps(12) infinite;
}

#h1OneAnimating {
    background: none;
}

.codeLineSelector ul li {
    font-size: 20px;
    left: 40%;
}

/* New section Second Section */
#sectionTwo {
    padding-left: 4%;
    margin-top: 3%;

}

#sectionContainer img {
    width: 15%;
    height: 15%;

}

.ImgageSide {
    display: flex;
    display: inline;
    display: inline-flex;
    background-color: white;
}

.txtComplet {
    font-size: 10px;
    line-height: 1;
    padding-left: 6px;
    padding: 10px;

}

.txtComplet h3 {
    font-size: 12px;
}


/* Responsive side */
@media only screen and (max-width : 375px),
(max-width : 390px),
(max-width : 414px),
(max-width : 430px) {
    #h1-set {
        font-size: 15px;
        margin-bottom: 1.5rem;
        height: 60px;
        width: 180px;
        backface-visibility: visible;
        background-attachment: fixed;

    }

    .classContainer {
        font-size: 9px;
        margin-right: 40px;
        width: 99%;
    }

    .classContainer ul li i {
        margin: 3px;
        align-items: center;
        position: relative
    }

    /*the first time was archived */

    nav ul {
        color: rgb(41, 41, 41);
        margin-top: -6rem;
        margin-left: -10rem;
        cursor: pointer;
        display: flex;
    }

    nav i {
        font-size: 15px;
        margin: 10px;
    }

    /*this one is holding */

    #sectionOne {
        align-items: center;
        justify-content: center;
    }

    #myText img {
        height: 25%;
        width: 200px;
        margin-top: 15rem;
        align-self: center;
        margin-left: 4rem;
        background-attachment: fixed;
    }

    .myTexture h1 {
        font-size: small;
        width: 80px;
    }

    .hThree {
        font-size: 8.8px;
        width: 130px;
        margin-top: -12%;
    }

    .hThreeOne {
        color: #221f21;
    }

    /*side to  review again */
    #sectionTwo {
        display: inline-block;
        margin-top: 90%;
        align-items: center;
        justify-content: center;
        background-color: none;
        width: 100%;
    }

    #sectionContainer .ImgageSide {
        margin: 3px;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        background-color: none;
    }

    .txtComplet {
        background-color: #f7c8ec;
    }

    .ImgageSide {
        background-color: #e6cfcf;
    }
}