* {
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: auto;
    background: rgb(248, 247, 247);
}

body {
    height: -webkit-fill-available, 100% !important;
    padding: 15px 15px;
    height: 100vh !important;
    

}

header {
    background-attachment: fixed;
}

#High-header {
    margin: 0;
    line-height: none;
}

.classContainer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto;
    height: 40px;
    width: auto;
    border: none;


}

ul li {
    margin-left: 10px;
}

.classContainer i {
    margin: 10px;
    color: rgba(66, 56, 48, 0.589);
    font-size: 120%;
}

span {
    color: brown;
}

.classContainer ul li {
    border: none;
    cursor: pointer;
    margin-top: -3rem;
}

#h1-set {
    color: rgba(73, 23, 3, 0.705);
    letter-spacing: 3px;
    font-weight: bolder 900;
    cursor: pointer;
    border: none;
    height: -200px;
    width: 30%;
    padding-left: 5%;
}

#nav-icon {
    align-items: center;
    justify-content: center;
}

nav ul {
    color: brown;
    justify-content: center;
    align-items: center;
    margin-left: 80rem;
    cursor: pointer;
    display: flex;
    margin-top: -4rem;
}

nav i {
    font-size: 20px;
    margin: 12px;

}

/* here I'm coding image and I'll use this about the responsive*/
#sectionOne img {
    margin: 100px 100px;
    height: 100%;
    width: 30%;
    margin-left: 65%;
    transition: all 0.5s ease;
    cursor: pointer;

}
#sectionOne img:hover {
   transform:scale(1.1);
    
}
.myTexture h1{
  padding-left: 5%;
  height: 27%;
 width: 50%;
  margin-top: -29rem;
  padding: none;
  font-size: 3rem;
}
#h1-set{
    background: linear-gradient(90deg,#291818, #ff5d5d67,#ff00f3,#858ce6,#ff00c4,#94531511);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    animation:animate 10s linear infinite ;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.hThree{
    padding-left: 5.5%;
    height: 27%;
   width: 50%;
    margin-top: -4.8rem;
  }
  .hThreeOne{
    padding-left: 5%;
    height: 27%;
   width: 50%;
    margin-top: 3rem
  }
  #h1OneAnimating:before{
  content : "";
  background-color: brown; 
  border-left: 2 solid brown;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40% ,  60%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
